<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.rockmusicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name=".RollingStonesActivity"
        android:label="@string/rolling_stones" />
        <activity
            android:name=".TheKissActivity"
            android:label="@string/kiss" />
        <activity
            android:name=".GunsAndRosesActivity"
            android:label="@string/guns_and_roses" />
        <activity
            android:name=".TheWhoActivity"
            android:label="@string/the_who" />
        <activity
            android:name=".AcDcActivity"
            android:label="@string/ac_dc" />
        <activity
            android:name=".VanHalenActivity"
            android:label="@string/van_halen" />
    </application>
</manifest>